.grid {
  width: 100%;
  padding: 4.5vw;
  box-sizing: border-box;
}

.grid-extra-top {
  width: 100%;
  padding: 12vw 4.5vw 12vw 4.5vw;
  box-sizing: border-box;

  @media (min-width: 510px) {
  }
  @media (min-width: 768px) {
    padding: 6vw 4.5vw 6vw 4.5vw;
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
}

.grid-bottom-only {
  width: 100%;
  padding: 0 0 4.5vw 0;
  box-sizing: border-box;
}
