$directory-font: "../../src/fonts" !default;
$directory-image: "../../src/img" !default;

$light: #ffffff !default;
$dark: #000000 !default;
$brand-colour: #AE8E5A !default;

$line-height: 1.3 !default;
$line-height-sm: 1.5 !default;
$line-height-lg: 1.7 !default;

$transition-main: cubic-bezier(.78,.15,.99,.36) all .3s;

$font-primary: 'bc-demi', Helvetica, Arial, sans-serif;
$font-secondary: 'Frank Ruhl Libre', Georgia, Times, serif;;
